main {
    margin: 10px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

.weather-icon {
    width: 40px;
    height: 40px;
}

.forecast-card {
    margin: 20px;
    margin-top: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #151E3D;
    color: white;
    width: 20%;
    height: 200px;
}

#header {
    width: 100%;
    background-image: linear-gradient(to right, #0080FF, darkblue);
    display: flex;
    height: 40px;
}

#header-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 28px;
}

#city-name {
    margin-top: 10px;
}

#search-button {
    margin-top: 10px;
}

#city-date {
    font-size: 22px;
}

#city-box {
    display: flex;
    justify-content: left;
    align-items: center;
}

#forecast-cards {
    display: flex;
}